<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <title>Transfer</title>
</head>
<body>
<div id="app">
    <div class="toast-container position-absolute p-3 top-0 end-0" id="toastPlacement">
        <div id="danger-toast" data-bs-delay="2000" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    {{ errorMsg }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="container bg-light">
        <div class="row mt-5">
            <div class="col-12 col-md-2">
                <div class="bg-light">
                    <a href="/web/accounts.html" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                        <img class="menu-logo" src="img/favicon-32x32.png">
                        <span class="fs-5">Banco Pasion</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="/web/accounts.html" class="nav-link link-dark">
                                <i class="bi bi-inboxes"></i>
                                Accounts
                            </a>
                        </li>
                        <li>
                            <a href="/web/cards.html" class="nav-link link-dark">
                                <i class="bi bi-credit-card"></i>
                                Cards
                            </a>
                        </li>
                        <li>
                            <a href="/web/transfers.html" class="nav-link link-dark">
                                <i class="bi bi-box-arrow-right"></i>
                                Transfers
                            </a>
                        </li>
                        <li>
                            <a href="/web/shared-transfers.html" class="nav-link active">
                                <i class="bi bi-people"></i>
                                Shared Payments
                            </a>
                        </li>
                        <li>
                            <a href="/web/loan-application.html" class="nav-link link-dark">
                                <i class="bi bi-cash"></i>
                                Loans
                            </a>
                        </li>
                        <li>
                            <a href="/web/crypto.html" class="nav-link link-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                                    <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                                </svg>
                                Crypto
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <button class="btn btn-danger img-fluid" v-on:click="signOut">Sign out</button>
                    </ul>
                </div>
            </div>
            <div class="col offset-md-1">
                <div class="row mt-3">
                    <div class="col-10">
                        <h2 class="display-6 subtitle">Transfer funds</h2>
                        <form class="mt-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="type" class="form-label">Account type</label>
                                    <select id="type" v-model="trasnferType" name="trasnferType" v-on:change="changedType" class="form-select" aria-label="Default select example" required>
                                        <option value="third">Third party accounts </option>
                                        <option value="own">Own accounts</option>

                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md">
                                    <label for="origin" class="form-label">From account</label>
                                    <select id="origin" v-model="accountFromNumber" v-on:change="changedFrom" class="form-select" aria-label="Default select example" required>
                                        <option value="VIN">Open this select menu</option>
                                        <option v-for="account in clientAccounts" v-bind:value="account.number">{{ account.number }} | balance: {{ account.balance }}</option>
                                    </select>
                                </div>
                                <div class="col-md">
                                    <label for="to-account" class="form-label">To account</label>
                                    <template v-if="trasnferType == 'third'">
                                        <input id="to-account" name="to-account" type="text" v-model="accountToNumber" class="form-control"  aria-label="to account">
                                    </template>
                                    <template v-if="trasnferType == 'own'">
                                        <select id="to-account" v-model="accountToNumber" class="form-select" aria-label="Default select example" required>
                                            <option value="VIN">Open this select menu</option>
                                            <option v-for="account in clientAccountsTo" v-bind:value="account.number">{{ account.number }} | balance: {{ account.balance }}</option>
                                        </select>
                                    </template>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <label for="amount" class="form-label">Amount</label>
                                    <input id="amount" name="amount" v-model="amount" type="number" class="form-control"  aria-label="to account">
                                </div>
                                <div class="col-md">
                                    <label for="description" class="form-label">Description</label>
                                    <input id="description" name="test_description" v-model="description" type="text" class="form-control"  aria-label="to account">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-3">
                                    <label for="numberSharedBetwen" class="form-label">Personas a compartir</label>
                                    <input id="numberSharedBetwen" name="numberSharedBetwen" v-model="numberSharedBetwen" type="number" class="form-control"  aria-label="to account">
                                </div>
                            </div>
                            <button type="button" v-on:click="checkTransfer" class="btn btn-sm btn-outline-success mt-4">transfer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="confirModal" tabindex="-1" aria-labelledby="confirModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirModalLabel">Confirm Funds Transfer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Transfer cannot be undone, do you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" v-on:click="transfer" class="btn btn-sm btn-outline-success">Yes, transfer the funds</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal 2-->
    <div class="modal fade" id="okModal" tabindex="-1" aria-labelledby="okModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="okModalLabel">Transaction complete!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    The funds have been transferred! <i class="bi bi-check-circle-fill text-success"></i>
                    <br>
                    Link de pago:
                    <br>
                    <span id="mensajeLinkPago" v-html="mensajeLinkPago"></span>
                    <i class="bi bi-clipboard" v-on:click="copyToClipboard"></i>
                </div>
                <div class="modal-footer">
                    <button type="button" v-on:click="finish" class="btn btn-sm btn-outline-success" data-bs-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script src="js/shared-transfers.js"></script>
</body>
</html>